#matplotlib==3.3.3
numpy==1.21.5
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
#nibabel==3.2.1
#tqdm==4.38.0
pandas==1.5.3
open3d==0.18.0
easydict==1.9
#scipy==1.13.1
#coloredlogs==15.0
#PyYAML==6.0
#scikit_learn==1.5.1
#tensorboardX==2.1
#vtk_visualizer==0.9.6
nibabel==3.2.1
h5py==3.11.0
transforms3d==0.4.2
#coloredlogs==15.0
#gitpython==3.1.17
#protobuf==3.20.3
#tensorboard==2.16.2
#catkin_pkg==1.0.0
#empy==3.3.4
#lark==1.1.9
#gdal==3.4.1